body{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  color: hsl(210, 10%, 33%);
  text-align: center;
  line-height: 2;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

p{
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 40px;
}

a{
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

/* Header section */
.header {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  padding: 7% 27% 3%;
}

.logo{
  padding-bottom: 50px;
  width: 125px;
}

.buttons-section{
  margin: 25px 25px 0;
}

.button {
  border: none;
  border-radius: 30px;
  color: #fff;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bai Jamjuree';
  font-size: 18px;
  font-weight: 400;
  margin: 15px;
}

.download-button-ios{
  background-color: hsl(171, 66%, 44%);
}

.download-button-mac{
  background-color: hsl(233, 100%, 69%);
}

/* Feature section */
.features-header{
  padding: 7% 27% 1%;
}

.feature-row{
  display: flex;
}

.image.col{
  width: 70%;
}

.computer-image{
  width: 100%;
  height: auto;
  position: relative;
  right: 5%;
}

.text-col{
  text-align: left;
  width: 30%;
  margin: auto;
  padding: 0 15% 0 5%;
}

/* Access clipboard secton */

.access-text{
  padding: 7% 27% 1%;
}

.access-image{
  width: 60%;
  height: auto;
}

/* Workfow section */

.workflow-header{
  padding: 7% 27% 1%;
}

.workflow-row{
  display: flex;
  padding: 0 5%;
}

.col{
  width: 33%;
  padding: 20px;
}


/* Paryners section */
.parner-row{
  display: flex;
  padding: 5%;
}

.partner-col{
  margin: auto;
}

/* Download section */
.download{
  padding: 7% 27% 7%;
}

.footer-row{
  display: flex;
  padding: 3% 3%;
  text-align: left;
  background-color: hsl(201, 11%, 90%);
}

.footer-col{
  margin: auto;
}
.footer-link{
}

.logo-small{
  width: 50px;
}

.social-icons{
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .header {
    background-repeat: no-repeat;
    padding: 7% 10% 3%;
  }

  .button {
    margin: 10% 0;
  }

  .features-header{
    padding: 7% 10% 1%;
  }

  .feature-row{
    display: inline-block;
  }

  .computer-image{
    width: 80%;
    height: auto;
    position: static;
  }

  .text-col{
    width: 80%;
    text-align: center;
    padding: 7% 10% 1%;
    margin: 0;
  }

  .access-text{
    padding: 7% 10% 1%;
  }

  .access-image{
    width: 80%;
    height: auto;
    text-align: center;
  }

  .workflow-header{
    padding: 7% 10% 1%;
  }

  .workflow-row{
    display: inline;
  }

  .col{
    width: 80%;
    padding: 7% 10% 1%;
  }

  .parner-row{
    display: inline;
    padding: 0;
  }

  .partner-col{
    margin: 10%;
  }

  .download{
    padding: 7% 10%;
  }

  .footer-row{
    display: block;
    padding: 7% 10%;
    text-align: center;
  }
  .logo-small{
    padding-bottom: 7%;
  }

  .social-icons{
    padding: 10% 2% 0;
  }

}

@media only screen and (max-width: 650px) {
  .button {
    width: 100%;
  }
}
